body{
    max-width: 1140px;
    background-color: bisque;
    margin: 0px auto;
}
.hero-container{
    background-color: aqua;
    display: flex;
    align-items: center;
    margin: 0px auto;
    border: 1px solid black;
    padding: 30px;
    font-size: 1.25em;
    border-radius: 15px;
}
.hero1{
    width: 50%;
    padding: 25px;
}
.hero1 p{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
.hero-container img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
}
.hero-container button{
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    color:rgb(0, 0, 0);
    font-size: 0.8em;
}
.card-section{
    text-align: center;
}

.card-section h2,p{
    margin: 20px 0px;
}
.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    border: 1.5px solid gray;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px;
    text-align: left;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card h3{
    text-align: left;
    margin: 5px 0px;
}
.card button{
    margin: 10px 0px;
    padding: 7px;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
}
.card button:hover{
    background-color: aliceblue;
    color: black;
}
.card:hover{
    background-color: burlywood;
}